
.swiper {
  margin: 0 0rpx 30rpx 22rpx;
  width: 516rpx;
  border-radius: 6rpx;

  &-item {
    image {
      border-radius: 6rpx;
      width: 516rpx;
    }
  }
}

.warp{
  position: relative;
}
.dots {
  position: absolute;
  bottom: 0;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16rpx;

  &-item {
    width: 10rpx;
    height: 10rpx;
    margin-right: 12rpx;
    border-radius: 50%;
    background-color: #CCCCCC;
  }
}
.dots-active {
  background-color: #000000;
}
