
.address {
  background-color: #FFF;
  justify-content: space-between;
  align-items: center;
  padding: 30rpx 40rpx 40rpx;
  box-sizing: border-box;
  border-bottom: 2rpx solid #F3F3F3;
  margin-bottom: 15rpx;
  background-image: url("https://static.tojoyshop.com/images/wxapp-boss/order/address-bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 5rpx;

  &-user {
    font-size: 28rpx;
    color: #333333;
    margin-bottom: 10rpx;
    display: flex;
    align-items: center;
    margin-top: 15rpx;
    &::before {
      content: '';
      display: inline-block;
      width: 36rpx;
      height: 36rpx;
      margin-right: 16rpx;
      background: url("https://static.tojoyshop.com/images/wxapp-boss/cart/ic_dizhi@2x.png?v=202312041032") no-repeat center;
      background-size: 100% 100%;
    }
  }

}

