.back_cont {
  position: fixed;
  left: 0;
  bottom: 20%;
  z-index: 9999;
  background-color: #0F0F11;
  width: 180rpx;
  height: 70rpx;
  border-radius: 0 35rpx 35rpx 0;
}

.enter_device {
  position: fixed;
  right: 0;
  bottom: 40%;
  z-index: 9999;
  width: 182rpx;
  height: 72rpx;
  will-change: transform;
  transition: transform ease-in-out .6s;

  &.scrolling {
    transform: translate3d(90%, 0, 0);
  }
}

.enter_device image {
  width: 100%;
  height: 100%;
}

.flex-warp {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
}

.arrow_img {
  width: 18rpx;
  /*height: 34rpx;*/
}

.back_cont_img {
  width: 60rpx;
  height: 60rpx;
}

.back_cont_btn {
  z-index: 2;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 180rpx;
  height: 70rpx;
  background-color: transparent;
}
