page .end {
  // background-color: #000;
  position: absolute;
  top: 500rpx;
  left: 0;
  width: 100%;
  &-title {
    color: #FFF;
    font-size: 40rpx;
    font-weight: bold;
    text-align: center;
    line-height: 47rpx;
    letter-spacing: 3rpx;
    margin-bottom: 18rpx;
  }
  &-time {
    color: #FFF;
    font-size: 30rpx;
    text-align: center;
    line-height: 42rpx;
    margin-bottom: 84rpx;
    &-value {
      padding-left: 4rpx;
    }
  }
  &-info {
    &-icon {
      height: 78rpx;
      width: 78rpx;
      margin-bottom: 21rpx;
      .icon {
        height: 100%;
        width: 100%;
      }
    }
    &-num {
      font-size: 40rpx;
      font-weight: bold;
      line-height: 47rpx;
      color: rgba(255,255,255,0.9);
      margin-bottom: 6rpx;
      font-family: DINAlternate-Bold;
    }
    &-label {
      font-size: 28rpx;
      color: rgba(255,255,255,0.6);
      line-height: 40rpx;
    }
  }
}