@import "./../../../style/mixins";

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  //mix-blend-mode: difference;
  &-body {
    height: 88rpx;
  }

  &-status {
    box-sizing: border-box;
    @include safe(('top'))
  }

  &-title {
    max-width: 460rpx;
    @include ellipsis();
  }

  &-back {
    text-align: left;
    height: 100%;
    &-icon {
      position: absolute;
      z-index: 10;
      width: 26rpx;
      height: 44rpx;
      left: 40rpx;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      background-color: currentColor;
      -webkit-mask: url("https://static.tojoyshop.com/images/wxapp-boss/bosshealth/nav-back.png") no-repeat;
      mask: url("https://static.tojoyshop.com/images/wxapp-boss/bosshealth/nav-back.png") no-repeat;
      -webkit-mask-size: 100% auto;
      mask-size: 100% auto;
      -webkit-mask-position: left center;
      mask-position: left center;
    }

    //image {
    //  overflow: inherit;
    //  width: 100%;
    //  height: 100%;
    //  vertical-align: middle;
    //  transform: translate3d(0, -50rpx, 0);
    //  //border-right: 50rpx solid transparent;
    //  filter: drop-shadow(currentColor 0 50rpx) brightness(1);
    //  clip: rect(50rpx, 0, 0, 0);
    //}
  }
}

.fixed {
  position: relative;

  &-title {
    height: 88rpx;
  }
}